# Click clustering
In this notebook we plan to cluster the students in each course by their click activity. This is to see if we can create clusters that might belong more strongly to pass or fail.

In [83]:
import pandas as pd
import numpy as np
import glob

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report

from sklearn.linear_model import LogisticRegression

from collections import Counter

import math

In [5]:
import matplotlib.pyplot as plt

# Load data into panda-frames and inspect

In [6]:
filenames = glob.glob("../data/*")

In [7]:
dataframes = []
for i, filename in enumerate(filenames): 
    print(i, filename.split("/")[-1])
    df = pd.read_csv(filename)
    dataframes.append(df)
    display(df)

0 data\assessments.csv

,code_module,code_presentation,id_assessment,assessment_type,date,weight
0,AAA,2013J,1752,TMA,19.0,10.0
1,AAA,2013J,1753,TMA,54.0,20.0
2,AAA,2013J,1754,TMA,117.0,20.0
3,AAA,2013J,1755,TMA,166.0,20.0
4,AAA,2013J,1756,TMA,215.0,30.0
...,...,...,...,...,...,...
201,GGG,2014J,37443,CMA,229.0,0.0
202,GGG,2014J,37435,TMA,61.0,0.0
203,GGG,2014J,37436,TMA,124.0,0.0
204,GGG,2014J,37437,TMA,173.0,0.0
205,GGG,2014J,37444,Exam,229.0,100.0

1 data\courses.csv

   code_module code_presentation  module_presentation_length
0          AAA             2013J                         268
1          AAA             2014J                         269
2          BBB             2013J                         268
3          BBB             2014J                         262
4          BBB             2013B                         240
5          BBB             2014B                         234
6          CCC             2014J                         269
7          CCC             2014B                         241
8          DDD             2013J                         261
9          DDD             2014J                         262
10         DDD             2013B                         240
11         DDD             2014B                         241
12         EEE             2013J                         268
13         EEE             2014J                         269
14         EEE             2014B                         241
15         FFF             2013J                         268
16         FFF             2014J                         269
17         FFF             2013B                         240
18         FFF             2014B                         241
19         GGG             2013J                         261
20         GGG             2014J                         269
21         GGG             2014B                         241

2 data\studentAssessment.csv

        id_assessment  id_student  date_submitted  is_banked  score
0                1752       11391              18          0   78.0
1                1752       28400              22          0   70.0
2                1752       31604              17          0   72.0
3                1752       32885              26          0   69.0
4                1752       38053              19          0   79.0
...               ...         ...             ...        ...    ...
173907          37443      527538             227          0   60.0
173908          37443      534672             229          0  100.0
173909          37443      546286             215          0   80.0
173910          37443      546724             230          0  100.0
173911          37443      558486             224          0   80.0

[173912 rows x 5 columns]

3 data\studentInfo.csv

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
1,AAA,2013J,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
2,AAA,2013J,30268,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,Withdrawn
3,AAA,2013J,31604,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass
4,AAA,2013J,32885,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...
32588,GGG,2014J,2640965,F,Wales,Lower Than A Level,10-20,0-35,0,30,N,Fail
32589,GGG,2014J,2645731,F,East Anglian Region,Lower Than A Level,40-50%,35-55,0,30,N,Distinction
32590,GGG,2014J,2648187,F,South Region,A Level or Equivalent,20-30%,0-35,0,30,Y,Pass
32591,GGG,2014J,2679821,F,South East Region,Lower Than A Level,90-100%,35-55,0,30,N,Withdrawn
32592,GGG,2014J,2684003,F,Yorkshire Region,HE Qualification,50-60%,35-55,0,30,N,Distinction

4 data\studentRegistration.csv

,code_module,code_presentation,id_student,date_registration,date_unregistration
0,AAA,2013J,11391,-159.0,NaN
1,AAA,2013J,28400,-53.0,NaN
2,AAA,2013J,30268,-92.0,12.0
3,AAA,2013J,31604,-52.0,NaN
4,AAA,2013J,32885,-176.0,NaN
...,...,...,...,...,...
32588,GGG,2014J,2640965,-4.0,NaN
32589,GGG,2014J,2645731,-23.0,NaN
32590,GGG,2014J,2648187,-129.0,NaN
32591,GGG,2014J,2679821,-49.0,101.0
32592,GGG,2014J,2684003,-28.0,NaN

5 data\studentVle.csv

         code_module code_presentation  id_student  id_site  date  sum_click
0                AAA             2013J       28400   546652   -10          4
1                AAA             2013J       28400   546652   -10          1
2                AAA             2013J       28400   546652   -10          1
3                AAA             2013J       28400   546614   -10         11
4                AAA             2013J       28400   546714   -10          1
...              ...               ...         ...      ...   ...        ...
10655275         GGG             2014J      675811   896943   269          3
10655276         GGG             2014J      675578   896943   269          1
10655277         GGG             2014J      654064   896943   269          3
10655278         GGG             2014J      654064   896939   269          1
10655279         GGG             2014J      654064   896939   269          1

[10655280 rows x 6 columns]

6 data\vle.csv

      id_site code_module code_presentation activity_type  week_from  week_to
0      546943         AAA             2013J      resource        NaN      NaN
1      546712         AAA             2013J     oucontent        NaN      NaN
2      546998         AAA             2013J      resource        NaN      NaN
3      546888         AAA             2013J           url        NaN      NaN
4      547035         AAA             2013J      resource        NaN      NaN
...       ...         ...               ...           ...        ...      ...
6359   897063         GGG             2014J      resource        NaN      NaN
6360   897109         GGG             2014J      resource        NaN      NaN
6361   896965         GGG             2014J     oucontent        NaN      NaN
6362   897060         GGG             2014J      resource        NaN      NaN
6363   897100         GGG             2014J      resource        NaN      NaN

[6364 rows x 6 columns]

In [12]:
studentAssesment_df = dataframes[2]
studentInfo_df = dataframes[3]
courses_df = dataframes[1]
assesments_df = dataframes[0]
studentVle_df = dataframes[5]
vle_df = dataframes[6]
studentRegistration_df = dataframes[4]

In [13]:
studentInfo_df['result_encoded'] = studentInfo_df['final_result'].map({'Pass':1, 'Distinction':1, 'Withdrawn':0, 'Fail':0})

## Merge pandas frame to get data-format

In [14]:
# first join studentVLE with vle to get full view of vle activity
merged_vle_df = pd.merge(studentVle_df, vle_df, on = ['id_site', 'code_module', 'code_presentation'], how='left')

In [15]:
merged_vle_df

,code_module,code_presentation,id_student,id_site,date,sum_click,activity_type,week_from,week_to
0,AAA,2013J,28400,546652,-10,4,forumng,NaN,NaN
1,AAA,2013J,28400,546652,-10,1,forumng,NaN,NaN
2,AAA,2013J,28400,546652,-10,1,forumng,NaN,NaN
3,AAA,2013J,28400,546614,-10,11,homepage,NaN,NaN
4,AAA,2013J,28400,546714,-10,1,oucontent,NaN,NaN
...,...,...,...,...,...,...,...,...,...
10655275,GGG,2014J,675811,896943,269,3,homepage,NaN,NaN
10655276,GGG,2014J,675578,896943,269,1,homepage,NaN,NaN
10655277,GGG,2014J,654064,896943,269,3,homepage,NaN,NaN
10655278,GGG,2014J,654064,896939,269,1,forumng,NaN,NaN
10655279,GGG,2014J,654064,896939,269,1,forumng,NaN,NaN

## One- course data

In [84]:
# set mudule and presentation
code_module = 'GGG'
code_presentation = '2014J'

In [93]:
def logistic_regression_result_prediction(code_module, code_presentation): 
    # extract only vle stats from the given course
    course_vle_df = merged_vle_df[(merged_vle_df.code_module==code_module)&(merged_vle_df.code_presentation==code_presentation)]

    # set index to id_student for easier extraction based on indivisual students later
    course_vle_df = course_vle_df.set_index('id_student')

    # extract student information for course module
    course_studentInfo_df = studentInfo_df.loc[(studentInfo_df.code_module==code_module)&(studentInfo_df.code_presentation==code_presentation), :]
    
    # count the proportion of different classes and print
    cnt_final_results = Counter(list(course_studentInfo_df['final_result']))
    print(cnt_final_results)
    
    # extrect activity types
    activities = list(set(course_vle_df['activity_type']))

    # extract day-information
    days = sorted(list(set(course_vle_df['date'])))
    first_day, last_day = days[0], days[-1]
    duration = last_day-first_day
    periods = 1
    period_len = math.ceil(duration/periods)

    def get_click_matrix(student_id, course_vle_df=course_vle_df, activities=activities, period_len=period_len, first_day=first_day, periods=periods): 
        oneStudentVle = course_vle_df.loc[student_id, :]
        click_matrix = np.zeros((len(activities), periods))

        # insert clicks
        for i, vle_row in oneStudentVle.iterrows(): 
            # extract matrix index
            resource_index = activities.index(vle_row['activity_type'])
            period_index = int((vle_row['date']-first_day)/(period_len+1))
            # add clicks to right cell
            click_matrix[resource_index, period_index] += vle_row['sum_click']

        return click_matrix

    def get_pass_fail(student_id, course_studentInfo_df=course_studentInfo_df): 
        one_hot_result = np.zeros(3)
        result_encoded = int(course_studentInfo_df.loc[course_studentInfo_df['id_student']==student_id, 'result_encoded'])

        return result_encoded

    # format x and y data for model training 
    student_ids = list(set(course_vle_df.index))
    x, y = [], []
    for student_id in student_ids: 
        try: 
            click_matrix = get_click_matrix(student_id)
            result_encoded = get_pass_fail(student_id)
            x.append(click_matrix)
            y.append(result_encoded)
        except Exception as e: 
            pass
            #print(student_id)
            #print(e)
    X = np.array(x)
    y = np.array(y)
    
    # reshape X to be one dimensional input datapoints
    X = np.reshape(X, (-1, X.shape[1]*X.shape[2]))

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 3)
    
    # print the counted y_train and y test
    cnt_binary = Counter(list(y_train))
    print("Training data: ", cnt_binary)
    cnt_binary = Counter(list(y_test))
    print("testing data: ", cnt_binary)

    # fit model
    clf = LogisticRegression(random_state=0).fit(X_train, y_train)

    y_pred = clf.predict(X_test)

    print(classification_report(y_test, y_pred))
    
    return 0

## Iterate through multiple courses

In [94]:
# set mudule and presentation
chosen_courses = [('AAA', '2013J'), ('BBB', '2013J'), ('CCC', '2014J'), ('DDD', '2013J'), ('GGG', '2014J')]

for chosen_course in chosen_courses: 
    code_module = chosen_course[0]
    code_presentation = chosen_course[1]

    print(f"Code module: {code_module}")
    print(f"Code presentation: {code_presentation}")

    logistic_regression_result_prediction(code_module, code_presentation)
    print()

Code module: AAA
Code presentation: 2013J
Counter({'Pass': 258, 'Withdrawn': 60, 'Fail': 45, 'Distinction': 20})
Training data:  Counter({1: 226, 0: 76})
testing data:  Counter({1: 52, 0: 24})
              precision    recall  f1-score   support

           0       0.50      0.04      0.08        24
           1       0.69      0.98      0.81        52

    accuracy                           0.68        76
   macro avg       0.59      0.51      0.44        76
weighted avg       0.63      0.68      0.58        76


Code module: BBB
Code presentation: 2013J

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Counter({'Pass': 896, 'Withdrawn': 644, 'Fail': 521, 'Distinction': 176})
Training data:  Counter({1: 859, 0: 626})
testing data:  Counter({1: 213, 0: 159})
              precision    recall  f1-score   support

           0       0.89      0.79      0.84       159
           1       0.86      0.93      0.89       213

    accuracy                           0.87       372
   macro avg       0.88      0.86      0.87       372
weighted avg       0.87      0.87      0.87       372


Code module: CCC
Code presentation: 2014J

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Counter({'Withdrawn': 1077, 'Pass': 709, 'Fail': 406, 'Distinction': 306})
Training data:  Counter({0: 1023, 1: 793})
testing data:  Counter({0: 234, 1: 221})
              precision    recall  f1-score   support

           0       0.81      0.95      0.87       234
           1       0.94      0.76      0.84       221

    accuracy                           0.86       455
   macro avg       0.87      0.86      0.86       455
weighted avg       0.87      0.86      0.86       455


Code module: DDD
Code presentation: 2013J

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Counter({'Pass': 731, 'Withdrawn': 681, 'Fail': 428, 'Distinction': 98})
Training data:  Counter({0: 747, 1: 658})
testing data:  Counter({0: 181, 1: 171})
              precision    recall  f1-score   support

           0       0.79      0.86      0.82       181
           1       0.83      0.75      0.79       171

    accuracy                           0.81       352
   macro avg       0.81      0.81      0.81       352
weighted avg       0.81      0.81      0.81       352


Code module: GGG
Code presentation: 2014J

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Counter({'Pass': 317, 'Fail': 179, 'Distinction': 127, 'Withdrawn': 126})
Training data:  Counter({1: 350, 0: 205})
testing data:  Counter({1: 94, 0: 45})
              precision    recall  f1-score   support

           0       0.89      0.73      0.80        45
           1       0.88      0.96      0.92        94

    accuracy                           0.88       139
   macro avg       0.89      0.85      0.86       139
weighted avg       0.89      0.88      0.88       139

## Iterate through all the courses

In [95]:
for index, row in courses_df.iterrows(): 
    code_module = row['code_module']
    code_presentation = row['code_presentation']
    
    print(f"Code module: {code_module}")
    print(f"Code presentation: {code_presentation}")

    logistic_regression_result_prediction(code_module, code_presentation)
    print()

Code module: AAA
Code presentation: 2013J
Counter({'Pass': 258, 'Withdrawn': 60, 'Fail': 45, 'Distinction': 20})
Training data:  Counter({1: 226, 0: 76})
testing data:  Counter({1: 52, 0: 24})
              precision    recall  f1-score   support

           0       0.50      0.04      0.08        24
           1       0.69      0.98      0.81        52

    accuracy                           0.68        76
   macro avg       0.59      0.51      0.44        76
weighted avg       0.63      0.68      0.58        76


Code module: AAA
Code presentation: 2014J

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Counter({'Pass': 229, 'Withdrawn': 66, 'Fail': 46, 'Distinction': 24})
Training data:  Counter({1: 203, 0: 81})
testing data:  Counter({1: 50, 0: 21})
              precision    recall  f1-score   support

           0       0.50      0.05      0.09        21
           1       0.71      0.98      0.82        50

    accuracy                           0.70        71
   macro avg       0.61      0.51      0.46        71
weighted avg       0.65      0.70      0.61        71


Code module: BBB
Code presentation: 2013J

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Counter({'Pass': 896, 'Withdrawn': 644, 'Fail': 521, 'Distinction': 176})
Training data:  Counter({1: 859, 0: 626})
testing data:  Counter({1: 213, 0: 159})
              precision    recall  f1-score   support

           0       0.89      0.79      0.84       159
           1       0.86      0.93      0.89       213

    accuracy                           0.87       372
   macro avg       0.88      0.86      0.87       372
weighted avg       0.87      0.87      0.87       372


Code module: BBB
Code presentation: 2014J

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Counter({'Pass': 972, 'Withdrawn': 749, 'Fail': 391, 'Distinction': 180})
Training data:  Counter({1: 913, 0: 617})
testing data:  Counter({1: 237, 0: 146})
              precision    recall  f1-score   support

           0       0.73      0.76      0.74       146
           1       0.85      0.83      0.84       237

    accuracy                           0.80       383
   macro avg       0.79      0.79      0.79       383
weighted avg       0.80      0.80      0.80       383


Code module: BBB
Code presentation: 2013B

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Counter({'Pass': 648, 'Withdrawn': 505, 'Fail': 459, 'Distinction': 155})
Training data:  Counter({1: 648, 0: 571})
testing data:  Counter({1: 155, 0: 150})
              precision    recall  f1-score   support

           0       0.89      0.75      0.81       150
           1       0.79      0.91      0.84       155

    accuracy                           0.83       305
   macro avg       0.84      0.83      0.83       305
weighted avg       0.84      0.83      0.83       305


Code module: BBB
Code presentation: 2014B

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Counter({'Pass': 561, 'Withdrawn': 490, 'Fail': 396, 'Distinction': 166})
Training data:  Counter({1: 587, 0: 442})
testing data:  Counter({1: 140, 0: 118})
              precision    recall  f1-score   support

           0       0.85      0.80      0.82       118
           1       0.84      0.88      0.86       140

    accuracy                           0.84       258
   macro avg       0.84      0.84      0.84       258
weighted avg       0.84      0.84      0.84       258


Code module: CCC
Code presentation: 2014J

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Counter({'Withdrawn': 1077, 'Pass': 709, 'Fail': 406, 'Distinction': 306})
Training data:  Counter({0: 1023, 1: 793})
testing data:  Counter({0: 234, 1: 221})
              precision    recall  f1-score   support

           0       0.81      0.95      0.87       234
           1       0.94      0.76      0.84       221

    accuracy                           0.86       455
   macro avg       0.87      0.86      0.86       455
weighted avg       0.87      0.86      0.86       455


Code module: CCC
Code presentation: 2014B

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Counter({'Withdrawn': 898, 'Pass': 471, 'Fail': 375, 'Distinction': 192})
Training data:  Counter({0: 791, 1: 537})
testing data:  Counter({0: 207, 1: 126})
              precision    recall  f1-score   support

           0       0.86      0.88      0.87       207
           1       0.80      0.75      0.78       126

    accuracy                           0.83       333
   macro avg       0.83      0.82      0.82       333
weighted avg       0.83      0.83      0.83       333


Code module: DDD
Code presentation: 2013J

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Counter({'Pass': 731, 'Withdrawn': 681, 'Fail': 428, 'Distinction': 98})
Training data:  Counter({0: 747, 1: 658})
testing data:  Counter({0: 181, 1: 171})
              precision    recall  f1-score   support

           0       0.79      0.86      0.82       181
           1       0.83      0.75      0.79       171

    accuracy                           0.81       352
   macro avg       0.81      0.81      0.81       352
weighted avg       0.81      0.81      0.81       352


Code module: DDD
Code presentation: 2014J

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Counter({'Pass': 680, 'Withdrawn': 647, 'Fail': 364, 'Distinction': 112})
Training data:  Counter({0: 692, 1: 611})
testing data:  Counter({1: 181, 0: 145})
              precision    recall  f1-score   support

           0       0.69      0.88      0.77       145
           1       0.87      0.69      0.77       181

    accuracy                           0.77       326
   macro avg       0.78      0.78      0.77       326
weighted avg       0.79      0.77      0.77       326


Code module: DDD
Code presentation: 2013B

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Counter({'Pass': 456, 'Withdrawn': 432, 'Fail': 361, 'Distinction': 54})
Training data:  Counter({0: 549, 1: 416})
testing data:  Counter({0: 148, 1: 94})
              precision    recall  f1-score   support

           0       0.85      0.79      0.82       148
           1       0.70      0.78      0.74        94

    accuracy                           0.79       242
   macro avg       0.77      0.78      0.78       242
weighted avg       0.79      0.79      0.79       242


Code module: DDD
Code presentation: 2014B

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Counter({'Withdrawn': 490, 'Pass': 360, 'Fail': 259, 'Distinction': 119})
Training data:  Counter({0: 500, 1: 386})
testing data:  Counter({0: 129, 1: 93})
              precision    recall  f1-score   support

           0       0.82      0.86      0.84       129
           1       0.79      0.73      0.76        93

    accuracy                           0.81       222
   macro avg       0.80      0.80      0.80       222
weighted avg       0.81      0.81      0.81       222


Code module: EEE
Code presentation: 2013J

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Counter({'Pass': 482, 'Withdrawn': 243, 'Fail': 200, 'Distinction': 127})
Training data:  Counter({1: 488, 0: 276})
testing data:  Counter({1: 121, 0: 70})
              precision    recall  f1-score   support

           0       0.76      0.81      0.79        70
           1       0.89      0.85      0.87       121

    accuracy                           0.84       191
   macro avg       0.82      0.83      0.83       191
weighted avg       0.84      0.84      0.84       191


Code module: EEE
Code presentation: 2014J

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Counter({'Pass': 527, 'Withdrawn': 306, 'Fail': 198, 'Distinction': 157})
Training data:  Counter({1: 546, 0: 318})
testing data:  Counter({1: 138, 0: 78})
              precision    recall  f1-score   support

           0       0.88      0.88      0.88        78
           1       0.93      0.93      0.93       138

    accuracy                           0.92       216
   macro avg       0.91      0.91      0.91       216
weighted avg       0.92      0.92      0.92       216


Code module: EEE
Code presentation: 2014B

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Counter({'Pass': 285, 'Withdrawn': 173, 'Fail': 164, 'Distinction': 72})
Training data:  Counter({1: 288, 0: 210})
testing data:  Counter({1: 69, 0: 56})
              precision    recall  f1-score   support

           0       0.83      0.88      0.85        56
           1       0.89      0.86      0.87        69

    accuracy                           0.86       125
   macro avg       0.86      0.87      0.86       125
weighted avg       0.87      0.86      0.86       125


Code module: FFF
Code presentation: 2013J

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Counter({'Pass': 908, 'Withdrawn': 675, 'Fail': 513, 'Distinction': 187})
Training data:  Counter({1: 873, 0: 791})
testing data:  Counter({1: 222, 0: 195})
              precision    recall  f1-score   support

           0       0.92      0.86      0.89       195
           1       0.88      0.93      0.91       222

    accuracy                           0.90       417
   macro avg       0.90      0.90      0.90       417
weighted avg       0.90      0.90      0.90       417


Code module: FFF
Code presentation: 2014J

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Counter({'Pass': 859, 'Withdrawn': 855, 'Fail': 393, 'Distinction': 258})
Training data:  Counter({1: 887, 0: 789})
testing data:  Counter({1: 230, 0: 189})
              precision    recall  f1-score   support

           0       0.91      0.85      0.88       189
           1       0.88      0.93      0.91       230

    accuracy                           0.89       419
   macro avg       0.90      0.89      0.89       419
weighted avg       0.90      0.89      0.89       419


Code module: FFF
Code presentation: 2013B

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Counter({'Pass': 664, 'Fail': 421, 'Withdrawn': 411, 'Distinction': 118})
Training data:  Counter({1: 622, 0: 583})
testing data:  Counter({1: 160, 0: 142})
              precision    recall  f1-score   support

           0       0.90      0.72      0.80       142
           1       0.79      0.93      0.85       160

    accuracy                           0.83       302
   macro avg       0.85      0.82      0.83       302
weighted avg       0.84      0.83      0.83       302


Code module: FFF
Code presentation: 2014B

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Counter({'Pass': 547, 'Withdrawn': 462, 'Fail': 384, 'Distinction': 107})
Training data:  Counter({0: 557, 1: 527})
testing data:  Counter({0: 145, 1: 127})
              precision    recall  f1-score   support

           0       0.93      0.85      0.89       145
           1       0.84      0.93      0.88       127

    accuracy                           0.89       272
   macro avg       0.89      0.89      0.89       272
weighted avg       0.89      0.89      0.89       272


Code module: GGG
Code presentation: 2013J

C:\Users\perni\miniconda3\envs\tf_env\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Counter({'Pass': 451, 'Fail': 294, 'Distinction': 141, 'Withdrawn': 66})
Training data:  Counter({1: 470, 0: 243})
testing data:  Counter({1: 122, 0: 57})
              precision    recall  f1-score   support

           0       0.92      0.81      0.86        57
           1       0.91      0.97      0.94       122

    accuracy                           0.92       179
   macro avg       0.92      0.89      0.90       179
weighted avg       0.92      0.92      0.91       179


Code module: GGG
Code presentation: 2014J
Counter({'Pass': 317, 'Fail': 179, 'Distinction': 127, 'Withdrawn': 126})
Training data:  Counter({1: 350, 0: 205})
testing data:  Counter({1: 94, 0: 45})
              precision    recall  f1-score   support

           0       0.89      0.73      0.80        45
           1       0.88      0.96      0.92        94

    accuracy                           0.88       139
   macro avg       0.89      0.85      0.86       139
weighted avg       0.89      0.88      0.88       139


Code module: GGG
Code presentation: 2014B
Counter({'Pass': 350, 'Fail': 255, 'Distinction': 128, 'Withdrawn': 100})
Training data:  Counter({1: 385, 0: 225})
testing data:  Counter({1: 93, 0: 60})
              precision    recall  f1-score   support

           0       0.91      0.83      0.87        60
           1       0.90      0.95      0.92        93

    accuracy                           0.90       153
   macro avg       0.90      0.89      0.90       153
weighted avg       0.90      0.90      0.90       153