In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
import matplotlib.pyplot as plt

# Load data into panda-frames and inspect

In [3]:
filenames = glob.glob("../data/*")

In [4]:
dataframes = []
for i, filename in enumerate(filenames): 
    print(i, filename.split("/")[-1])
    df = pd.read_csv(filename)
    dataframes.append(df)
    display(df)

0 data\assessments.csv

,code_module,code_presentation,id_assessment,assessment_type,date,weight
0,AAA,2013J,1752,TMA,19.0,10.0
1,AAA,2013J,1753,TMA,54.0,20.0
2,AAA,2013J,1754,TMA,117.0,20.0
3,AAA,2013J,1755,TMA,166.0,20.0
4,AAA,2013J,1756,TMA,215.0,30.0
...,...,...,...,...,...,...
201,GGG,2014J,37443,CMA,229.0,0.0
202,GGG,2014J,37435,TMA,61.0,0.0
203,GGG,2014J,37436,TMA,124.0,0.0
204,GGG,2014J,37437,TMA,173.0,0.0
205,GGG,2014J,37444,Exam,229.0,100.0

1 data\courses.csv

   code_module code_presentation  module_presentation_length
0          AAA             2013J                         268
1          AAA             2014J                         269
2          BBB             2013J                         268
3          BBB             2014J                         262
4          BBB             2013B                         240
5          BBB             2014B                         234
6          CCC             2014J                         269
7          CCC             2014B                         241
8          DDD             2013J                         261
9          DDD             2014J                         262
10         DDD             2013B                         240
11         DDD             2014B                         241
12         EEE             2013J                         268
13         EEE             2014J                         269
14         EEE             2014B                         241
15         FFF             2013J                         268
16         FFF             2014J                         269
17         FFF             2013B                         240
18         FFF             2014B                         241
19         GGG             2013J                         261
20         GGG             2014J                         269
21         GGG             2014B                         241

2 data\studentAssessment.csv

        id_assessment  id_student  date_submitted  is_banked  score
0                1752       11391              18          0   78.0
1                1752       28400              22          0   70.0
2                1752       31604              17          0   72.0
3                1752       32885              26          0   69.0
4                1752       38053              19          0   79.0
...               ...         ...             ...        ...    ...
173907          37443      527538             227          0   60.0
173908          37443      534672             229          0  100.0
173909          37443      546286             215          0   80.0
173910          37443      546724             230          0  100.0
173911          37443      558486             224          0   80.0

[173912 rows x 5 columns]

3 data\studentInfo.csv

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
1,AAA,2013J,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
2,AAA,2013J,30268,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,Withdrawn
3,AAA,2013J,31604,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass
4,AAA,2013J,32885,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...
32588,GGG,2014J,2640965,F,Wales,Lower Than A Level,10-20,0-35,0,30,N,Fail
32589,GGG,2014J,2645731,F,East Anglian Region,Lower Than A Level,40-50%,35-55,0,30,N,Distinction
32590,GGG,2014J,2648187,F,South Region,A Level or Equivalent,20-30%,0-35,0,30,Y,Pass
32591,GGG,2014J,2679821,F,South East Region,Lower Than A Level,90-100%,35-55,0,30,N,Withdrawn
32592,GGG,2014J,2684003,F,Yorkshire Region,HE Qualification,50-60%,35-55,0,30,N,Distinction

4 data\studentRegistration.csv

,code_module,code_presentation,id_student,date_registration,date_unregistration
0,AAA,2013J,11391,-159.0,NaN
1,AAA,2013J,28400,-53.0,NaN
2,AAA,2013J,30268,-92.0,12.0
3,AAA,2013J,31604,-52.0,NaN
4,AAA,2013J,32885,-176.0,NaN
...,...,...,...,...,...
32588,GGG,2014J,2640965,-4.0,NaN
32589,GGG,2014J,2645731,-23.0,NaN
32590,GGG,2014J,2648187,-129.0,NaN
32591,GGG,2014J,2679821,-49.0,101.0
32592,GGG,2014J,2684003,-28.0,NaN

5 data\studentVle.csv

         code_module code_presentation  id_student  id_site  date  sum_click
0                AAA             2013J       28400   546652   -10          4
1                AAA             2013J       28400   546652   -10          1
2                AAA             2013J       28400   546652   -10          1
3                AAA             2013J       28400   546614   -10         11
4                AAA             2013J       28400   546714   -10          1
...              ...               ...         ...      ...   ...        ...
10655275         GGG             2014J      675811   896943   269          3
10655276         GGG             2014J      675578   896943   269          1
10655277         GGG             2014J      654064   896943   269          3
10655278         GGG             2014J      654064   896939   269          1
10655279         GGG             2014J      654064   896939   269          1

[10655280 rows x 6 columns]

6 data\vle.csv

      id_site code_module code_presentation activity_type  week_from  week_to
0      546943         AAA             2013J      resource        NaN      NaN
1      546712         AAA             2013J     oucontent        NaN      NaN
2      546998         AAA             2013J      resource        NaN      NaN
3      546888         AAA             2013J           url        NaN      NaN
4      547035         AAA             2013J      resource        NaN      NaN
...       ...         ...               ...           ...        ...      ...
6359   897063         GGG             2014J      resource        NaN      NaN
6360   897109         GGG             2014J      resource        NaN      NaN
6361   896965         GGG             2014J     oucontent        NaN      NaN
6362   897060         GGG             2014J      resource        NaN      NaN
6363   897100         GGG             2014J      resource        NaN      NaN

[6364 rows x 6 columns]

In [5]:
studentAssesment_df = dataframes[2]
studentInfo_df = dataframes[3]
courses_df = dataframes[1]
assesments_df = dataframes[0]
studentVle_df = dataframes[5]
vle_df = dataframes[6]
studentRegistration_df = dataframes[4]

In [6]:
studentInfo_df['result_encoded'] = studentInfo_df['final_result'].map({'Pass':1, 'Distinction':1, 'Withdrawn':0, 'Fail':0})

## Merge pandas frame to get data-format

In [7]:
# first join studentVLE with vle to get full view of vle activity
merged_vle_df = pd.merge(studentVle_df, vle_df, on = ['id_site', 'code_module', 'code_presentation'], how='left')

In [8]:
merged_vle_df

,code_module,code_presentation,id_student,id_site,date,sum_click,activity_type,week_from,week_to
0,AAA,2013J,28400,546652,-10,4,forumng,NaN,NaN
1,AAA,2013J,28400,546652,-10,1,forumng,NaN,NaN
2,AAA,2013J,28400,546652,-10,1,forumng,NaN,NaN
3,AAA,2013J,28400,546614,-10,11,homepage,NaN,NaN
4,AAA,2013J,28400,546714,-10,1,oucontent,NaN,NaN
...,...,...,...,...,...,...,...,...,...
10655275,GGG,2014J,675811,896943,269,3,homepage,NaN,NaN
10655276,GGG,2014J,675578,896943,269,1,homepage,NaN,NaN
10655277,GGG,2014J,654064,896943,269,3,homepage,NaN,NaN
10655278,GGG,2014J,654064,896939,269,1,forumng,NaN,NaN
10655279,GGG,2014J,654064,896939,269,1,forumng,NaN,NaN

## Check how the dataset is balanced

In [9]:
from collections import Counter

In [10]:
cnt_final_results = Counter(list(studentInfo_df['final_result']))

In [11]:
cnt_final_results

Counter({'Pass': 12361, 'Withdrawn': 10156, 'Fail': 7052, 'Distinction': 3024})

## Format data to training and test set

In [12]:
# day and week boundaries
min_startday = -25
max_endday = 270
weeks = int((max_endday-min_startday)/7)

# resource activities
activities = list(set(list(merged_vle_df['activity_type'])))

In [13]:
def get_click_matrix(student_id, course_vle_df): 
    oneStudentVle = course_vle_df.loc[student_id, :]
    click_matrix = np.zeros((len(activities), weeks))

    # insert clicks
    for i, vle_row in oneStudentVle.iterrows(): 
        # extract matrix indecies
        week_index = int((vle_row['date']-min_startday-1)/7)
        resource_index = activities.index(vle_row['activity_type'])
        # add clicks to right cell
        click_matrix[resource_index, week_index] += vle_row['sum_click']
        
    return click_matrix

def get_pass_fail(student_id, course_studentInfo_df): 
    result_encoded = int(course_studentInfo_df.loc[course_studentInfo_df['id_student']==student_id, 'result_encoded'])
    
    return result_encoded

In [14]:
# format the data
x, y, course_modules = [], [], []
# iterate through all courses
for index, row in courses_df.iterrows(): 
    code_module = row['code_module']
    code_presentation = row['code_presentation']
    print(code_module, code_presentation)
    
    # extract only vle stats from the given course
    course_vle_df = merged_vle_df[(merged_vle_df.code_module==code_module)&(merged_vle_df.code_presentation==code_presentation)]

    # set index to id_student for easier extraction based on indivisual students later
    course_vle_df = course_vle_df.set_index('id_student')

    # extract student information for course module
    course_studentInfo_df = studentInfo_df.loc[(studentInfo_df.code_module==code_module)&(studentInfo_df.code_presentation==code_presentation), :]
    
    # format x and y data for model training 
    student_ids = list(set(course_vle_df.index))
    
    for student_id in student_ids: 
        try: 
            click_matrix = get_click_matrix(student_id, course_vle_df)
            result_encoded = get_pass_fail(student_id, course_studentInfo_df)
            x.append(click_matrix)
            y.append(result_encoded)
            course_modules.append((code_module, code_presentation))
        except Exception as e: 
            pass
            #print(student_id)
            print(e)
# numpy format
X = np.array(x)
y = np.array(y)

AAA 2013J
AAA 2014J
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
BBB 2013J
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
BBB 2014J
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
BBB 2013B
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
BBB 2014B
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
CCC 2014J
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
CCC 2014B
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
DDD 2013J
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
DDD 2014J
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
DDD 2013B
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
DDD 2014B
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
EEE 2013J
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
EEE 2014J
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
EEE 2014B
'Series' object has no attribute 'iterrows'
FFF 2013J
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
FFF 2014J
'Series' object has no attribute 'iterrows'

'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
FFF 2013B
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
FFF 2014B
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
GGG 2013J
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
GGG 2014J
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
GGG 2014B
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'
'Series' object has no attribute 'iterrows'

## Create dataloader

In [25]:
from torch import nn
import torch
import torch.optim as optim
import torch.nn.functional as F

In [26]:
# check if gpu is available
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report

In [31]:
from torch.utils.data import DataLoader, Dataset

In [32]:
class oversampdata(Dataset):
    def __init__(self, x_data, targets):
        self.data = x_data
        self.targets = targets

    def __len__(self):
        return len(self.data)
    
    def __getitem__(self, index):
        target = self.targets[index]
        data_val = self.data[index]
        
        return data_val, target

## Make and train pytorch model

In [35]:
class RNN(nn.Module): 
    def __init__(self, input_size, hidden_size, output_size, n_layers=1): 
        super(RNN, self).__init__()
        self.input_size = input_size
        self.hidden_size = hidden_size
        self.output_size = output_size
        self.n_layers = n_layers
        
        #self.encoder = nn.Embedding(input_size, hidden_size)
        self.lstm = nn.GRU(input_size, hidden_size, n_layers, bidirectional = True)
        self.fc1 = nn.Linear(hidden_size*2*20, 16)
        self.fc2 = nn.Linear(16, output_size)
        
    def forward(self, inp): 
        output, hidden = self.lstm(inp)
        
        x = self.fc1(output.view(output.size(0), -1))
        x = F.relu(x)
        x = self.fc2(x)
        x = torch.sigmoid(x)
        
        return x

In [39]:
def binary_acc(y_pred, y_test):
    y_pred = y_pred.cpu()
    y_test = y_test.cpu()
    y_pred_tag = torch.round(y_pred.squeeze(1))

    correct_results_sum = (y_pred_tag == y_test).sum().float()
    acc = correct_results_sum/y_test.shape[0]
    #acc = torch.round(acc * 100)
    
    return acc

# Leave One Out Prediction for all Courses

In [62]:
def loop_course_testing(test_course): 
    print(test_course)
    # extract test course
    test_indecies = [course_module == test_course for course_module in course_modules]
    train_indecies = [course_module != test_course for course_module in course_modules]

    X_train, X_test = X[train_indecies], X[test_indecies]
    y_train, y_test = y[train_indecies], y[test_indecies]

    
    # make validation set
    X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state = 3)

    # make datasets into torch tensors
    X_train, y_train = torch.from_numpy(X_train).float(), torch.tensor(y_train).float()
    X_test, y_test = torch.from_numpy(X_test).float(), torch.tensor(y_test).float()
    X_val, y_val = torch.from_numpy(X_val).float(), torch.tensor(y_val).float()

    X_train = X_train.to(device)
    y_train = y_train.to(device)
    X_test = X_test.to(device)
    y_test = y_test.to(device)
    X_val = X_val.to(device)
    y_val = y_val.to(device)
    
    # make dataloader
    train_dataset = oversampdata(X_train, y_train)
    train_loader = DataLoader(train_dataset, batch_size=64, shuffle=True)
    
    
    # define model instance
    rnn_net = RNN(X_train[0].shape[1], 8, 1, n_layers = 1)
    rnn_net_best_val = RNN(X_train[0].shape[1], 8, 1, n_layers = 1)

    # set loss function, optimizer and criterion
    criterion = nn.BCELoss()
    optimizer = optim.Adam(rnn_net.parameters(), lr=0.01)
    loss_fn = nn.MSELoss()

    # set training to gpu if exists
    rnn_net.to(device)
    rnn_net_best_val.to(device)

    # training parameters
    n_steps = 10
    best_val_loss = 100

    # train model
    for i in range(n_steps):
        for i, data in enumerate(train_loader, 0):        
            inputs, labels = data        
            optimizer.zero_grad()
            y_pred_train = rnn_net(inputs)
            loss_train = criterion(y_pred_train,labels.unsqueeze(1))        
            loss_train.backward()        
            optimizer.step()

        # validation loss
        y_pred_val = rnn_net(X_val)
        loss_val = criterion(y_pred_val, y_val.unsqueeze(1))
        if (best_val_loss > loss_val.cpu().detach().numpy()): 
            rnn_net_best_val.load_state_dict(rnn_net.state_dict())
            best_val_loss = loss_val.cpu().detach().numpy()
            #print("Updated best val model")

    y_eval = rnn_net_best_val(X_test)
    print("Binary accuracy: ", binary_acc(y_eval, y_test))

    y_pred_binary = torch.round(y_eval.cpu().squeeze(1))

    print(classification_report(y_test.cpu().detach().numpy(), y_pred_binary.detach().numpy()))
    print()
    
    return 0

In [63]:
# loop through all the courses to test leave out prediction
for index, row in courses_df.iterrows(): 
    code_module = row['code_module']
    code_presentation = row['code_presentation']
    test_course = (code_module, code_presentation)
    
    loop_course_testing(test_course)

('AAA', '2013J')
Binary accuracy:  tensor(0.9048)
              precision    recall  f1-score   support

         0.0       0.88      0.74      0.80       100
         1.0       0.91      0.96      0.94       278

    accuracy                           0.90       378
   macro avg       0.90      0.85      0.87       378
weighted avg       0.90      0.90      0.90       378


('AAA', '2014J')
Binary accuracy:  tensor(0.8873)
              precision    recall  f1-score   support

         0.0       0.89      0.70      0.78       102
         1.0       0.89      0.96      0.92       253

    accuracy                           0.89       355
   macro avg       0.89      0.83      0.85       355
weighted avg       0.89      0.89      0.88       355


('BBB', '2013J')
Binary accuracy:  tensor(0.9117)
              precision    recall  f1-score   support

         0.0       0.97      0.81      0.89       785
         1.0       0.88      0.98      0.93      1072

    accuracy                           0.91      1857
   macro avg       0.93      0.90      0.91      1857
weighted avg       0.92      0.91      0.91      1857


('BBB', '2014J')
Binary accuracy:  tensor(0.8850)
              precision    recall  f1-score   support

         0.0       0.83      0.90      0.86       763
         1.0       0.93      0.87      0.90      1150

    accuracy                           0.88      1913
   macro avg       0.88      0.89      0.88      1913
weighted avg       0.89      0.88      0.89      1913


('BBB', '2013B')
Binary accuracy:  tensor(0.8819)
              precision    recall  f1-score   support

         0.0       0.89      0.85      0.87       721
         1.0       0.87      0.91      0.89       803

    accuracy                           0.88      1524
   macro avg       0.88      0.88      0.88      1524
weighted avg       0.88      0.88      0.88      1524


('BBB', '2014B')
Binary accuracy:  tensor(0.8834)
              precision    recall  f1-score   support

         0.0       0.91      0.81      0.86       560
         1.0       0.87      0.94      0.90       727

    accuracy                           0.88      1287
   macro avg       0.89      0.88      0.88      1287
weighted avg       0.89      0.88      0.88      1287


('CCC', '2014J')
Binary accuracy:  tensor(0.9040)
              precision    recall  f1-score   support

         0.0       0.98      0.85      0.91      1257
         1.0       0.84      0.98      0.90      1014

    accuracy                           0.90      2271
   macro avg       0.91      0.91      0.90      2271
weighted avg       0.91      0.90      0.90      2271


('CCC', '2014B')
Binary accuracy:  tensor(0.9163)
              precision    recall  f1-score   support

         0.0       0.97      0.89      0.93       998
         1.0       0.85      0.96      0.90       663

    accuracy                           0.92      1661
   macro avg       0.91      0.92      0.91      1661
weighted avg       0.92      0.92      0.92      1661


('DDD', '2013J')
Binary accuracy:  tensor(0.8981)
              precision    recall  f1-score   support

         0.0       0.98      0.82      0.90       928
         1.0       0.83      0.98      0.90       829

    accuracy                           0.90      1757
   macro avg       0.91      0.90      0.90      1757
weighted avg       0.91      0.90      0.90      1757


('DDD', '2014J')
Binary accuracy:  tensor(0.8760)
              precision    recall  f1-score   support

         0.0       0.96      0.79      0.87       837
         1.0       0.81      0.96      0.88       792

    accuracy                           0.88      1629
   macro avg       0.89      0.88      0.88      1629
weighted avg       0.89      0.88      0.88      1629


('DDD', '2013B')
Binary accuracy:  tensor(0.8898)
              precision    recall  f1-score   support

         0.0       0.94      0.87      0.90       697
         1.0       0.83      0.92      0.88       510

    accuracy                           0.89      1207
   macro avg       0.89      0.89      0.89      1207
weighted avg       0.89      0.89      0.89      1207


('DDD', '2014B')
Binary accuracy:  tensor(0.9251)
              precision    recall  f1-score   support

         0.0       0.94      0.93      0.93       629
         1.0       0.91      0.92      0.91       479

    accuracy                           0.93      1108
   macro avg       0.92      0.92      0.92      1108
weighted avg       0.93      0.93      0.93      1108


('EEE', '2013J')
Binary accuracy:  tensor(0.9560)
              precision    recall  f1-score   support

         0.0       0.97      0.91      0.94       346
         1.0       0.95      0.98      0.97       609

    accuracy                           0.96       955
   macro avg       0.96      0.95      0.95       955
weighted avg       0.96      0.96      0.96       955


('EEE', '2014J')
Binary accuracy:  tensor(0.9472)
              precision    recall  f1-score   support

         0.0       0.93      0.92      0.93       396
         1.0       0.96      0.96      0.96       684

    accuracy                           0.95      1080
   macro avg       0.94      0.94      0.94      1080
weighted avg       0.95      0.95      0.95      1080


('EEE', '2014B')
Binary accuracy:  tensor(0.9406)
              precision    recall  f1-score   support

         0.0       0.94      0.92      0.93       266
         1.0       0.94      0.95      0.95       357

    accuracy                           0.94       623
   macro avg       0.94      0.94      0.94       623
weighted avg       0.94      0.94      0.94       623


('FFF', '2013J')
Binary accuracy:  tensor(0.9443)
              precision    recall  f1-score   support

         0.0       0.99      0.89      0.94       986
         1.0       0.91      0.99      0.95      1095

    accuracy                           0.94      2081
   macro avg       0.95      0.94      0.94      2081
weighted avg       0.95      0.94      0.94      2081


('FFF', '2014J')
Binary accuracy:  tensor(0.9389)
              precision    recall  f1-score   support

         0.0       1.00      0.87      0.93       978
         1.0       0.90      1.00      0.95      1117

    accuracy                           0.94      2095
   macro avg       0.95      0.93      0.94      2095
weighted avg       0.94      0.94      0.94      2095


('FFF', '2013B')
Binary accuracy:  tensor(0.9098)
              precision    recall  f1-score   support

         0.0       0.99      0.82      0.90       725
         1.0       0.86      0.99      0.92       782

    accuracy                           0.91      1507
   macro avg       0.92      0.91      0.91      1507
weighted avg       0.92      0.91      0.91      1507


('FFF', '2014B')
Binary accuracy:  tensor(0.9240)
              precision    recall  f1-score   support

         0.0       0.99      0.86      0.92       702
         1.0       0.87      0.99      0.93       654

    accuracy                           0.92      1356
   macro avg       0.93      0.93      0.92      1356
weighted avg       0.93      0.92      0.92      1356


('GGG', '2013J')
Binary accuracy:  tensor(0.9013)
              precision    recall  f1-score   support

         0.0       0.98      0.72      0.83       300
         1.0       0.88      0.99      0.93       592

    accuracy                           0.90       892
   macro avg       0.93      0.86      0.88       892
weighted avg       0.91      0.90      0.90       892


('GGG', '2014J')
Binary accuracy:  tensor(0.9236)
              precision    recall  f1-score   support

         0.0       0.99      0.80      0.88       250
         1.0       0.90      0.99      0.94       444

    accuracy                           0.92       694
   macro avg       0.94      0.90      0.91       694
weighted avg       0.93      0.92      0.92       694


('GGG', '2014B')
Binary accuracy:  tensor(0.9122)
              precision    recall  f1-score   support

         0.0       0.95      0.80      0.87       285
         1.0       0.89      0.98      0.93       478

    accuracy                           0.91       763
   macro avg       0.92      0.89      0.90       763
weighted avg       0.92      0.91      0.91       763