In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
import matplotlib.pyplot as plt

# Load data into panda-frames and inspect

In [3]:
filenames = glob.glob("../data/*")

In [4]:
dataframes = []
for i, filename in enumerate(filenames): 
    print(i, filename.split("/")[-1])
    df = pd.read_csv(filename)
    dataframes.append(df)
    display(df)

0 studentAssessment.csv

        id_assessment  id_student  date_submitted  is_banked  score
0                1752       11391              18          0   78.0
1                1752       28400              22          0   70.0
2                1752       31604              17          0   72.0
3                1752       32885              26          0   69.0
4                1752       38053              19          0   79.0
...               ...         ...             ...        ...    ...
173907          37443      527538             227          0   60.0
173908          37443      534672             229          0  100.0
173909          37443      546286             215          0   80.0
173910          37443      546724             230          0  100.0
173911          37443      558486             224          0   80.0

[173912 rows x 5 columns]

1 studentInfo.csv

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
1,AAA,2013J,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
2,AAA,2013J,30268,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,Withdrawn
3,AAA,2013J,31604,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass
4,AAA,2013J,32885,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...
32588,GGG,2014J,2640965,F,Wales,Lower Than A Level,10-20,0-35,0,30,N,Fail
32589,GGG,2014J,2645731,F,East Anglian Region,Lower Than A Level,40-50%,35-55,0,30,N,Distinction
32590,GGG,2014J,2648187,F,South Region,A Level or Equivalent,20-30%,0-35,0,30,Y,Pass
32591,GGG,2014J,2679821,F,South East Region,Lower Than A Level,90-100%,35-55,0,30,N,Withdrawn
32592,GGG,2014J,2684003,F,Yorkshire Region,HE Qualification,50-60%,35-55,0,30,N,Distinction

2 courses.csv

   code_module code_presentation  module_presentation_length
0          AAA             2013J                         268
1          AAA             2014J                         269
2          BBB             2013J                         268
3          BBB             2014J                         262
4          BBB             2013B                         240
5          BBB             2014B                         234
6          CCC             2014J                         269
7          CCC             2014B                         241
8          DDD             2013J                         261
9          DDD             2014J                         262
10         DDD             2013B                         240
11         DDD             2014B                         241
12         EEE             2013J                         268
13         EEE             2014J                         269
14         EEE             2014B                         241
15         FFF             2013J                         268
16         FFF             2014J                         269
17         FFF             2013B                         240
18         FFF             2014B                         241
19         GGG             2013J                         261
20         GGG             2014J                         269
21         GGG             2014B                         241

3 assessments.csv

,code_module,code_presentation,id_assessment,assessment_type,date,weight
0,AAA,2013J,1752,TMA,19.0,10.0
1,AAA,2013J,1753,TMA,54.0,20.0
2,AAA,2013J,1754,TMA,117.0,20.0
3,AAA,2013J,1755,TMA,166.0,20.0
4,AAA,2013J,1756,TMA,215.0,30.0
...,...,...,...,...,...,...
201,GGG,2014J,37443,CMA,229.0,0.0
202,GGG,2014J,37435,TMA,61.0,0.0
203,GGG,2014J,37436,TMA,124.0,0.0
204,GGG,2014J,37437,TMA,173.0,0.0
205,GGG,2014J,37444,Exam,229.0,100.0

4 studentVle.csv

         code_module code_presentation  id_student  id_site  date  sum_click
0                AAA             2013J       28400   546652   -10          4
1                AAA             2013J       28400   546652   -10          1
2                AAA             2013J       28400   546652   -10          1
3                AAA             2013J       28400   546614   -10         11
4                AAA             2013J       28400   546714   -10          1
...              ...               ...         ...      ...   ...        ...
10655275         GGG             2014J      675811   896943   269          3
10655276         GGG             2014J      675578   896943   269          1
10655277         GGG             2014J      654064   896943   269          3
10655278         GGG             2014J      654064   896939   269          1
10655279         GGG             2014J      654064   896939   269          1

[10655280 rows x 6 columns]

5 vle.csv

      id_site code_module code_presentation activity_type  week_from  week_to
0      546943         AAA             2013J      resource        NaN      NaN
1      546712         AAA             2013J     oucontent        NaN      NaN
2      546998         AAA             2013J      resource        NaN      NaN
3      546888         AAA             2013J           url        NaN      NaN
4      547035         AAA             2013J      resource        NaN      NaN
...       ...         ...               ...           ...        ...      ...
6359   897063         GGG             2014J      resource        NaN      NaN
6360   897109         GGG             2014J      resource        NaN      NaN
6361   896965         GGG             2014J     oucontent        NaN      NaN
6362   897060         GGG             2014J      resource        NaN      NaN
6363   897100         GGG             2014J      resource        NaN      NaN

[6364 rows x 6 columns]

6 studentRegistration.csv

,code_module,code_presentation,id_student,date_registration,date_unregistration
0,AAA,2013J,11391,-159.0,NaN
1,AAA,2013J,28400,-53.0,NaN
2,AAA,2013J,30268,-92.0,12.0
3,AAA,2013J,31604,-52.0,NaN
4,AAA,2013J,32885,-176.0,NaN
...,...,...,...,...,...
32588,GGG,2014J,2640965,-4.0,NaN
32589,GGG,2014J,2645731,-23.0,NaN
32590,GGG,2014J,2648187,-129.0,NaN
32591,GGG,2014J,2679821,-49.0,101.0
32592,GGG,2014J,2684003,-28.0,NaN

In [5]:
studentAssesment_df = dataframes[0]
studentInfo_df = dataframes[1]
courses_df = dataframes[2]
assesments_df = dataframes[3]
studentVle_df = dataframes[4]
vle_df = dataframes[5]
studentRegistration_df = dataframes[6]

In [6]:
studentVle_df = studentVle_df.set_index('id_student')

## Make VLE statistics
Some courses is only assesments and no final exam.

In [7]:
def get_assessment_scores(student_id, assessment_ids): 
    assessment_scores = []
    for assessment_id in assessment_ids: 
        asses_score = studentAssesment_df[(studentAssesment_df['id_student']==student_id)&(studentAssesment_df['id_assessment']==assessment_id)]['score']
        if (asses_score.shape[0]>0):
            assessment_scores.append(float(asses_score)/100)
        else: # not 
            assessment_scores.append(0.)
    return assessment_scores


def plot_vle_student_timeline(student_id, moduleStudentVle, code_module, code_presentation, assessment_type): 
    oneStudentVle = moduleStudentVle.loc[student_id, :]

    daily_clicks = []
    for day in sorted(list(set(oneStudentVle['date']))): 
        sum_clicks = sum(oneStudentVle[oneStudentVle['date'] == day]['sum_click'])
        daily_clicks.append((day, sum_clicks))

    x, y = [day[0] for day in daily_clicks], [day[1] for day in daily_clicks]

    # find assesment day
    asses_bool = (assesments_df['code_module']==code_module)&(assesments_df['code_presentation']==code_presentation)&(assesments_df['assessment_type']!='Exam')
    assessment_days = list(assesments_df[asses_bool]['date'])
    assessment_ids = list(assesments_df[asses_bool]['id_assessment'])
    assessment_scores = get_assessment_scores(student_id, assessment_ids)
    print(assessment_scores)
    # find exam result 
    #exam_id = int(assesments_df[ (assesments_df['code_module']==code_module)&(assesments_df['code_presentation']==code_presentation)&(assesments_df['assessment_type']=='Exam')]['id_assessment'])
    #print(exam_id)
    #exam_result = studentAssesment_df[(studentAssesment_df['id_student']==student_id)&(studentAssesment_df['id_assessment']==exam_id)]['score']
    #print("Exam result", exam_result)
    
    # find course length
    #course_length = int(courses_df[(courses_df['code_module']==code_module)&(courses_df['code_presentation']==code_presentation)]['module_presentation_length'])
    
    # find exam date
    exam_bool = (assesments_df['code_module']==code_module)&(assesments_df['code_presentation']==code_presentation)&(assesments_df['assessment_type']=='Exam')
    exam_day = list(assesments_df[exam_bool]['date'])
    
    # find final score
    final_score = studentInfo_df[(studentInfo_df['code_module']==code_module)&(studentInfo_df['code_presentation']==code_presentation)&(studentInfo_df['id_student']==student_id)]
    display(final_score)
    
    
    # plot
    plt.figure(figsize=(8,3))
    plt.scatter(x,y, s=8)
    plt.scatter(assessment_days, [100 for i in range(len(assessment_days))], c='r', s=50)
    #plt.scatter([course_length], [100], s=60, c='y')
    plt.scatter(exam_day, [100], s=60, c='y')
    plt.show()
    
    return 0

In [8]:
code_module = 'AAA'
code_presentation = '2014J'
assessment_type = 'TMA'

In [9]:
moduleStudentVle = studentVle_df[(studentVle_df['code_module']==code_module)&(studentVle_df['code_presentation']==code_presentation)]

KeyboardInterrupt:

In [ ]:
students_taking_module = list(set(moduleStudentVle.index))

In [ ]:
for student_id in students_taking_module[:30]: 
    try: 
        plot_vle_student_timeline(student_id, moduleStudentVle, code_module, code_presentation, assessment_type)
    except Exception as e:
        print(e)
        print(student_id)

## Test resource distribution

In [ ]:
code_module = 'AAA'
code_presentation = '2014J'

# extact module
moduleStudentVle = studentVle_df[(studentVle_df['code_module']==code_module)&(studentVle_df['code_presentation']==code_presentation)]

In [ ]:
import matplotlib.colors as mcolors

In [ ]:
# print all resources
activities = list(np.unique(np.array(vle_df['activity_type'])))
colors = list(mcolors.TABLEAU_COLORS) + list(mcolors.BASE_COLORS) + list(mcolors.TABLEAU_COLORS) + list(mcolors.BASE_COLORS)

## Make time-resource activity data

In [ ]:
# make conversion from id site to resource type
resource_conversion = {}
for index, row in vle_df[(vle_df['code_module']==code_module)&(vle_df['code_presentation']==code_presentation)].iterrows(): 
    resource_conversion.update({row['id_site']: row['activity_type']})
    
course_resources = list(set(resource_conversion.values()))

# figure out how to divide into time periods
days = sorted(list(set(moduleStudentVle['date'])))
first_active_day = days[0]
last_active_day = days[-1]
duration_in_days = last_active_day-first_active_day
print(f"First active day: {first_active_day}, last: {last_active_day}, duration: {duration_in_days}")

number_of_weeks = int(duration_in_days/7)+1

In [ ]:
def get_click_matrix(student_id, number_of_weeks, course_resources, resource_conversion): 
    oneStudentVle = moduleStudentVle.loc[student_id, :]
    click_matrix = np.zeros((number_of_weeks, len(course_resources)))

    # insert clicks
    for i, vle_row in oneStudentVle.iterrows(): 
        # extract matrix indecies
        week_index = int((vle_row['date']-first_active_day)/7)
        resource_index = course_resources.index(resource_conversion[vle_row['id_site']])
        # add clicks to right cell
        click_matrix[week_index, resource_index] += vle_row['sum_click']
        
    return click_matrix

In [ ]:
moduleStudentVle

## Get result data for student

In [ ]:
# extract all assessments from course, here we include all tasks
asses_bool = (assesments_df['code_module']==code_module)&(assesments_df['code_presentation']==code_presentation)
assessment_ids = list(assesments_df[asses_bool]['id_assessment'])

In [ ]:
def get_assessment_scores(student_id, assessment_ids): 
    assessment_scores = []
    for assessment_id in assessment_ids: 
        asses_score = studentAssesment_df[(studentAssesment_df['id_student']==student_id)&(studentAssesment_df['id_assessment']==assessment_id)]['score']
        if (asses_score.shape[0]>0):
            assessment_scores.append(float(asses_score)/100)
        else: # not 
            assessment_scores.append(0.)
    return assessment_scores

In [ ]:
assessment_scores = get_assessment_scores(student_id, assessment_ids)
assessment_scores

## Get x and y data for a course

In [ ]:
student_ids = list(set(moduleStudentVle.index))
x, y = [], []
for student_id in student_ids: 
    try: 
        click_matrix = get_click_matrix(student_id, number_of_weeks, course_resources, resource_conversion)
        assessments = get_assessment_scores(student_id, assessment_ids)
        if (not np.isnan(np.sum(assessments))):
            x.append(click_matrix)
            y.append(assessments)
    except Exception as e: 
        print(student_id)
        print(e)
X = np.array(x)

In [ ]:
y = np.array(y)

In [ ]:
X.shape, len(y), len(y[0])

In [ ]:
X[0].transpose()[0]

## Visualize data

In [ ]:
def plot_student_resource_data(resource_matrix): 
    # plot
    plt.figure(figsize=(8,3))
    for i, resource_weeks in enumerate(resource_matrix.transpose()): 
        active_weeks = []
        active_resources = []
        for j, resource_week in enumerate(resource_weeks): 
            if (resource_week != 0): 
                active_weeks.append(j)
                active_resources.append(resource_week)
        plt.scatter(active_weeks, active_resources, c = colors[i], s=8)
    plt.show()
    return 0

In [ ]:
for i in range(30): 
    print("Results: ", y[i])
    plot_student_resource_data(X[i])

## Split into test and training

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 42)

## Make keras model

In [ ]:
from tensorflow import keras
from tensorflow.keras import layers

In [ ]:
model = keras.Sequential()

model.add(layers.Bidirectional(layers.LSTM(16, return_sequences=True), input_shape=X[0].shape))
model.add(layers.Bidirectional(layers.LSTM(8)))
model.add(layers.Dense(len(y[0])))

In [ ]:
model.compile(optimizer='adam', loss='mse')

In [ ]:
model.summary()

In [ ]:
model.fit(X_train, y_train, epochs=30, batch_size=32, validation_split = 0.1)

In [ ]:
model.predict(X_test[3:6])

In [269]:
y_test[3:6]

array([[0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ],
       [1.  , 1.  , 1.  , 1.  , 0.8 , 0.8 , 0.75, 0.73, 0.85, 0.  ],
       [1.  , 0.8 , 0.8 , 1.  , 1.  , 1.  , 0.65, 0.8 , 0.6 , 0.  ]])